NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_next_public_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_key_here

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard

INNGEST_DEV=1

ARCJET_KEY=your_arcjet_key_here

DATABASE_URL=your_database_url_here

DIRECT_URL=your_direct_url_here

RESEND_API_KEY=your_resend_key_here

GEMINI_API_KEY_NEW=your_gemini_key_here